 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
 }

 :root {
     --angle: 0deg;
     --color1: #ff0080;
     --color2: #ff8c00;
     --color3: #40e0d0;
     --color4: #ff0080;
     --main: linear-gradient(135deg, #ff0080, #ff8c00, #40e0d0, #ff0080);
     --bg: black;
     --text: white;
     --nav: black;
     --btn: linear-gradient(135deg, #ff0080, #ff8c00, #40e0d0, #ff0080);
     --hover: linear-gradient(45deg, #ff0080, #ff8c00, #40e0d0, #ff0080);
     --shadow: #40e0d0;
     --border: #ff8c00;
 }

 /* MOVE THEM HERE */
 @property --angle {
     syntax: "<angle>";
     inherits: false;
     initial-value: 0deg;
 }

 @keyframes Move {
     0% {
         --angle: 0deg;
     }

     100% {
         --angle: 360deg;
     }
 }

 .text-gradient {
     background: var(--main);
     -webkit-background-clip: text;
     background-clip: text;
     color: transparent;
 }

 body,
 html {
     scroll-behavior: smooth;
     overflow-x: hidden;

 }

 body {
     background: var(--bg);
     color: white;
 }

 /* smallScrollIcon */
 #smallScrollIcon {
     position: fixed;
     bottom: 1rem;
     right: 1rem;
     width: 30px;
     height: 30px;
     color: white;
     background: var(--btn);
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1rem;
     opacity: 0;
     transition: opacity 1s ease-in;
     z-index: 1000;
 }

 #smallScrollIcon a {
     color: white;
     text-decoration: none;
 }

 /* navbar */
 #navbar {
     display: flex;
     align-items: center;
     padding: 0.25rem 2rem;
     justify-content: space-between;
     color: white;
     height: 60px;
     position: fixed;
     top: 0;
     background: var(--nav);
     box-shadow: 0px 0px 5px var(--shadow);
     width: 100%;
     z-index: 1000;
 }

 #navbar #links a::before
 {
    content: "";
    position: absolute;
    width:0px;
    height:0px;
    top:-3px;
    left:-3px;
    z-index: -1;
    background: var(--main);
    transition:width 0.3s,height 0.3s;     
 }
 #navbar #links a::after
 {
    content: "";
    position: absolute;
    width:0px;
    height:0px;
    right:-3px;
    bottom:-3px;
    z-index: -1;
    background: var(--main);
    transition:width 0.3s,height 0.3s;
      
 }
 #navbar #links a:hover::before,
  #navbar #links a:hover::after{
     width:20px; 
     height:20px;  
 }

 #navbar .menu-toggle {
     font-size: 1.5rem;
     display: none;
 }

 #navbar #links.active {
     right: 0;
 }

 /* section1 */
 #section1 {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
     padding: 1rem 0rem;
 }

 #section1 #image-container {
     width: 40%;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
 }

 #section1 #image-container #image {
     width: 25rem;
     height: 25rem;
     padding: 5px;
     border-radius: 50%;
     overflow: hidden;
     background: conic-gradient(from var(--angle), var(--color1), var(--color2), var(--color3), var(--color4));
     filter: contrast(1.3);
     box-shadow: 2px 2px 5px #40e0d0, -2px -2px 5px #ff8c00;
     animation: Move 5s linear infinite;
 }

 #section1 #image-container #image img {
     width: 100%;
     height: 100%;
     border-radius: 50%;
 }

 #section1 #text-contents {
     width: 50%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 1rem;
 }

 #section1 #text-contents #text {
     word-break: break-all;
 }

 #section1 #text-contents #text button {
     width: 150px;
     height: 40px;
     border: none;
     outline: none;
     background: var(--btn);
     color: white;
     padding: 10px 20px;
     border-radius: 6px;
     cursor: pointer;
 }

 #section1 #text-contents #text button:hover {
     background: var(--hover);
 }


 /* title */
 .title {
     height: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 .title div {
     width: 200px;
     height: 5px;
     background: var(--btn);
     border-radius: 25px;

 }

 /* section2 */
 #section2 {
     display: flex;
     justify-content: center;
     align-items: center;
     height: calc(100vh - 50px);
     padding: 1rem 0rem;
 }

 #section2 #about-me {
     width: 50%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 1rem;
     flex-direction: column;
     word-break: break-all;
 }

 #section2 #about-me .text {
     text-indent: 5px;
 }

 #section2 #about-me .text button {
     width: 150px;
     height: 40px;
     border: none;
     outline: none;
     background: var(--btn);
     color: white;
     padding: 10px 20px;
     border-radius: 6px;
     cursor: pointer;
 }

 #section2 #about-me .text button:hover {
     background: var(--hover);
 }

 #section2 #img-container {
     width: 40%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;

 }

 #section2 #img-container #photo {
     width: 24rem;
     height: 24rem;
     box-shadow: 0px 0px 5px 1px #fb0327;
     filter: contrast(1.3);
 }

 #section2 #img-container #photo img {
     width: 100%;
     height: 100%
 }

 /* section4 */
 #section4 {
     display: flex;
     justify-content: center;
     align-items: center;
     height: calc(100vh - 50px);
     padding: 1rem 0rem;
     gap: 1rem;
 }

 #section4 .education {
     width: 45%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 1.5rem;

 }

 #section4 .education .borderColor {
     padding: 0.25rem;
     width: 90%;
     border-radius: 25px;
     background: conic-gradient(from var(--angle), var(--color1), var(--color2), var(--color3), var(--color4));
     animation: Move 4s linear infinite;
 }

 #section4 .education .borderColor .education-container {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     background: black;
     border-radius: 25px;
     width: 100%;
     padding: 0.8rem;
     height: 220px;
     position: relative;
 }


 #section4 .education .borderColor .education-container .image img {
     width: 100px;
     height: 100px;
     border-radius: 50%;
     filter: contrast(1.3);
 }

 #section4 .education .borderColor .education-container .text {
     padding: 1rem;
 }

 /* section3 */
 #section3 {
     display: flex;
     justify-content: center;
     align-items: center;
     height: calc(100vh - 50px);
     padding: 1rem 0rem;
 }

 #section3 .skills {
     width: 45%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 1rem;
     height: 100%;
 }

 #section3 .skills .skills-wrapper {
     width: 100%;
     margin: 1rem 0rem;
 }

 #section3 .skills .container {
     width: 100%;
     height: 25px;
     border-radius: 25px;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     position: relative;
 }

 #section3 .skills .container .progress-bar {
     width: 0%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     background: var(--main);
     border-radius: 25px;
     line-height: 23px;
     color: var(--text);
     text-align: center;
 }

 /* section5 */
 #section5 {
     display: flex;
     justify-content: center;
     align-items: center;
     height: calc(100vh - 50px);
     padding: 1rem 0rem;
 }

 #section5 .projects-container {
     width: 90%;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 1rem;
     flex-wrap: wrap;

 }

 #section5 .projects-container .borderColor {
     padding: 0.25rem;
     border-radius: 25px;
     background: conic-gradient(from var(--angle), var(--color1), var(--color2), var(--color3), var(--color4));
     animation: Move 4s linear infinite;
 }

 #section5 .projects-container .borderColor .projects {
     width: 250px;
     height: 330px;
     padding: 1rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     gap: 0.25rem;
     background: black;
     border-radius: 25px;
 }

 #section5 .projects-container .projects img {
     width: 100%;
     height: 100px;
     filter: contrast(1.3);
     border-radius: 10px;
 }

 #section6 {
     display: flex;
     justify-content: center;
     align-items: center;
     height: calc(100vh - 50px);
     padding: 1rem 0rem;
 }

 #section6 #contact-me {
     width: 80%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;

 }

 #section6 #contact-me .borderColor {
     padding: 0.25rem;
     border-radius: 20px;
     background: conic-gradient(from var(--angle), var(--color1), var(--color2), var(--color3), var(--color4));
     animation: Move 4s linear infinite;
 }

 #section6 #contact-me .borderColor form {
     width: 100%;
     height: auto;
     padding: 2rem;
     border-radius: 20px;
     position: relative;
     background: black;

 }

 #section6 #contact-me .borderColor form label {
     font-size: 1.25rem;
     font-weight: bolder;
 }

 #section6 #contact-me .borderColor form input {
     width: 100%;
     height: 40px;
     border: none;
     outline: none;
     padding: 0.5rem 1rem;
     border-radius: 10px;
     border: 1px solid var(--border);
 }

 #section6 #contact-me .borderColor form textarea {
     width: 100%;
     height: 100px;
     border: none;
     outline: none;
     border-radius: 10px;
     padding: 1rem;
     border: 1px solid var(--border);
 }

 #section6 #contact-me .borderColor form button {
     width: 100%;
     height: 40px;
     outline: none;
     border: none;
     background: var(--btn);
     color: white;
     letter-spacing: 2px;
     border-radius: 10px;
     cursor: pointer;
     margin: 10px 0px;
 }

 #section6 #contact-me .borderColor form button:hover {
     background: var(--hover);
 }

 /* footer */
 #footer {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin-top: 1rem;
     background: black;
     padding: 1rem 2rem;
     color: white;
     box-shadow: 0px 0px 5px var(--shadow);
     background: var(--bg);
 }

 #footer #socialmediaicons {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 1rem;
 }

 #footer #socialmediaicons a {
     color: white;
     text-decoration: none;
 }

 #footer #socialmediaicons i {
     width: 35px;
     height: 35px;
     border-radius: 50%;
     border: 1px solid var(--border);
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 10px;
     cursor: pointer;
 }

 #footer #socialmediaicons i:hover {
     background: var(--btn);
     box-shadow: 0px 0px 5px 5px #001f12;
     ;
 }

 /* desktop responsive design */
 @media screen and (min-width:768px) and (max-width:1000px) {

     #section1,
     #section2,
     #section3,
     #section4,
     #section5,
     #section6 {
         height: auto;
         padding: 6.25rem 0rem;
     }

     #section1 {
         padding: 8rem 0rem;
     }

 }

 /* mobile responsive design*/
 @media screen and (max-width:768px) {
     #navbar .menu-toggle {
         display: block;
     }

     #navbar #links {
         flex-direction: column;
         position: fixed;
         top: 60px;
         align-items: start;
         right: -300px;
         height: 100%;
         padding-top: 5rem;
         padding-left: 3rem;
         width: 220px;
         background: var(--bg);
         color: white;
         z-index: 1000;
         gap: 2rem;
         font-size: 1.22rem;
         transition: right 0.5s ease;
     }

     #section1,
     #section2,
     #section3,
     #section4,
     #section5,
     #section6 {
         flex-direction: column;
         height: auto;
         padding: 3rem 1rem;
         gap: 0.5rem;
     }

     #section1 {
         padding-top: 6rem !important;
     }

     #section1 #image-container {
         width: 100%;
     }

     #section1 #image-container #image,
     #section2 #img-container #photo {
         width: 18rem;
         height: 18rem;
     }

     #section1 #text-contents,
     #section2 #about-me,
     #section2 #img-container,
     #section3 .skills,
     #section4 .education {
         width: 100%;
     }

     #section4 .education .borderColor .education-container {
         flex-direction: column;
         height: auto;
         align-items: center;
         width: 100%;
         justify-content: center;
     }

     #section6 #contact-me {
         width: 90%;
     }

     #footer {
         font-size: 14px;
     }

 }

